*{ padding:0; margin:0;}
a{ text-decoration:none;}
ul,li{ list-style:none;}
input{ border:0; background:none; float:left;}
img{ border:0;}
em,i{ font-style:normal;}
#wrap{ width:990px; margin:0 auto;}
#right{ float:right;}
.left{float: left;}
body{background: #fff;}
/*--------------------top----------------------------*/
#top {margin:0 auto; height: 60px;width: 1600px;}
/*--------------------header----------------------------*/
#header{border-bottom:1px solid #e5e5e5; background:#eee;}
#header .topnav {height: 21px;padding-top: 4px;position: relative;z-index: 10000;}	
#header #right{ width:761px; height:16px;position: absolute;right: 0;top: 4px;}
#header #right li{ float:left;border-right: 1px solid #d5d5d5;height: 16px;line-height: 16px;z-index: 20;}
#header .a1{position: relative;}
#header .a1 .drop{width:149px;height:81px;padding: 10px 16px 10px 15px; background:#fff;
				border: 1px solid #ccc;position: absolute;top:15px;right:0;display: none;z-index: 1;}
#header .a1 .drop #u1{width:67px;height:81px;float: left;}
#header .a1 .drop #u1 li{width: 67px;line-height:26px;border-right:none;height:26px;border-bottom: 1px dashed #bdbdbd;display: block;}
#header .a1 .drop #u2{width:67px;height:81px;float: right;}
#header .a1 .drop #u1 li a,#header .a1 .drop #u2 li a{font-size:12px;display: block;padding: 0;} 
#header .a1 .drop #u2 li{width: 67px;line-height:26px;border-right:none;height:26px;border-bottom: 1px dashed #bdbdbd;display: block;}
#header .a1 .drop #u1 li:hover,#header .a1 .drop #u2 li:hover{background:#fff6d4;}
#header .a2{position: relative;}
#header .a2 div{width:206px;height:120px; background:#fff;padding:12px 12px 8px 12px;
				border: 1px solid #ccc;position: absolute;top:15px;right:0;display: none;}
#header .a2 div #u3{width:206px;height:120px;float: left;}
#header .a2 div #u3 li{width:100px;height:120px;float: left;border-right:none;}
#header .a2 div #u3 li a{padding: 0;}
#header .a2 div #u3 li.a3{margin-right: 6px;}
#header li a{color:#656565; padding:0 15px; display:block; float:left;font-size:12px;font-family: "宋体"}
#header li .submit{ padding:0; margin:0; color:#fc6808;}
#header li a:hover{color: red;text-decoration: underline;}
#header li .register{ margin:0 15px 0 25px;color:#fc6808; }
#header li.collection a{color:#333;}
#header li.collection a:hover{color: red;text-decoration: underline;}
#header li span{ background:url("../img/default_icon_bg.png") no-repeat; display:block;
				 height:15px; float:right;}
#header li #tip{ width:7px; height:4px; background-position:right -2px; margin-top:6px; margin-left:10px;  }
#header li #phone{ float:left; background-position:right -12px; margin-right:5px; width:10px;}
#header li #qq{ float:left; background-position:right -43px; margin-right:6px; width:15px;}
#header li #contact{ height:16px; width:123px; background-position:-316px -65px; margin:0 14px;}
/*-------------------------head------------------------------------*/
#head{height: 77px}
#wrap .logo{ width:421px; height:63px; display:block; background:url(../img/default_icon_bg.png) no-repeat left -1px; margin-top:10px;}
#wrap .search{width:341px; margin-top:16px; margin-left:30px;}
#wrap .search p span{ color:#cdcdcd;font-size: 12px}
#wrap .search p .hot{margin-top: 9px;}
#wrap .search .ser{ height:30px; }
#wrap .search .txt{ height:26px; border:2px solid #d5d5d5; border-right:none; width:274px;text-indent: 3px}
#wrap .search .btn{ width:65px; height:30px; text-align:center; background:#444;color:#fff;}
#wrap .car{ height:34px; width:80px; display:block; float:right; background:url(../img/default_icon_bg.png) no-repeat left -64px; 
	  margin-top:20px; cursor:pointer; padding-left:46px; color:#676767; line-height:34px; font-size:12px;}
#wrap .car em{ color:#f00; margin:0 4px;}

#wrap .search .hot a{ margin-left:8px;  color:#888;font-size: 12px}
#wrap .search .hot a:hover{color: red;text-decoration: underline;}
#wrap .car:hover{ background-position:left -98px;}
/*-------------------------nav------------------------------------*/
#nav{height:34px; width: 100%; background: url("http://images.s.cn/images/2012/1024/201402241517.gif") repeat-x scroll center bottom;height: 34px;
    margin: 0 auto;padding-bottom: 5px;}
#nav #navbox{width: background: #a21f25 ;height: 34px;margin: 0 auto;position: relative;width: 1050px;}    
#nav #wrap li{display: block;}
#nav li.nav_left{width: 190px;height:34px;font-weight: 700;line-height: 34px;
	background-color: #b9363d;float: left;color: #fff;text-align: center;font-size: 14px;}
#nav li.nav_center{width: 553px;height:34px;float: left;position: relative;}
#nav li.nav_center a{background:url("http://img03.taobaocdn.com/imgextra/i3/194959675/T29O1tXlXcXXXXXXXX_!!194959675.png") no-repeat 0 11px; color: #fff;display: block;padding:0 28px;font-size: 14px;height:34px;line-height: 34px;float: left;}
#nav li.nav_center a.first{padding-left: 21px;margin-left: -3px;margin-right: -2px;}
#nav li.nav_center .sport{width:668px;height: 302px;z-index: 10;position: absolute;top:34px;left:78px;background:#fff; box-shadow: 0 0 3px #ccc;
    padding: 5px 0;display: none;}
#nav li.nav_center .sport #q1{padding: 8px 0 13px; display: block;float: left; padding-left: 22px;
    width: 162px;}
#nav li.nav_center .sport #q1 li a{font-size:12px;color: #333;background: none;float: none;padding: 0;color: #555;
    display: inline-block;height:24px;border:0;line-height: 24px;vertical-align: bottom; white-space: nowrap;}
#nav li.nav_center .sport #q1 .first a{ display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .sport #q1 li a:hover{color: red;margin: 0;}  
#nav li.nav_center .sport #q1 li.first a:hover{color:#2a2a2a;}

#nav li.nav_center .sport #q2{padding: 8px 0 13px; display: block;float: left; width: 140px;}
#nav li.nav_center .sport #q2 li a{font-size:12px;color: #333;background: none;float: none;padding: 0;color: #555;
    display: inline-block;height:24px;border:0;line-height: 24px;vertical-align: bottom; white-space: nowrap;}
#nav li.nav_center .sport #q2 .first a{ display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .sport #q2 li a:hover{color: red;margin: 0;}  
#nav li.nav_center .sport #q2 li.first a:hover{color:#2a2a2a;}
#nav li.nav_center .sport #q3{padding: 8px 0 13px; display: block;float: left; padding-left:22px; width: 255px;}
#nav li.nav_center .sport #q3 h4{display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
/* #nav li.nav_center .sport #q3 a{float: left;height: 35px;margin: 0 3px 3px 0;width: 69px;} */
#nav li.nav_center .clothing{width: 668px;height: 279px;z-index: 10;position: absolute;top:34px;left:190px;display: none;background:#fff; box-shadow: 0 0 3px #ccc; padding: 5px 0;}
#nav li.nav_center .clothing #q4{padding: 8px 0 13px; display: block;float: left; padding-left: 22px;
    width: 162px;}
#nav li.nav_center .clothing #q4 li a{font-size:12px;color: #333;background: none;float: none;padding: 0;color: #555;
    display: inline-block;height:24px;border:0;line-height: 24px;vertical-align: bottom; white-space: nowrap;}
#nav li.nav_center .clothing #q4 .first a{ display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .clothing #q4 li a:hover{color: red;margin: 0;}  
#nav li.nav_center .clothing #q4 li.first a:hover{color:#2a2a2a;}

#nav li.nav_center .clothing #q5{padding: 8px 0 13px; display: block;float: left; width: 140px;}
#nav li.nav_center .clothing #q5 li a{font-size:12px;color: #333;background: none;float: none;padding: 0;color: #555;
    display: inline-block;height:24px;border:0;line-height: 24px;vertical-align: bottom; white-space: nowrap;}
#nav li.nav_center .clothing #q5 .first a{ display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .clothing #q5 li a:hover{color: red;margin: 0;}  
#nav li.nav_center .clothing #q5 li.first a:hover{color:#2a2a2a;}
#nav li.nav_center .clothing #q6{padding: 8px 0 13px; display: block;float: left; padding-left:22px; width: 255px;}
#nav li.nav_center .clothing #q6 h4{display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .brand1{width: 540px;height: 237px;z-index: 10;position: absolute;top:34px;left: 302px;display: none;background:#fff; box-shadow: 0 0 3px #ccc; padding: 5px 0;}
#nav li.nav_center .brand1 #q7{padding: 8px 0 13px;float: left; display: block;padding-left: 22px;width: 162px;height: 106px;}
#nav li.nav_center .brand1 #q7 li a{font-size:12px;color: #333;background: none;float: none;padding: 0;color: #555;
    display: inline-block;height:24px;border:0;line-height: 24px;vertical-align: bottom; white-space: nowrap;}
#nav li.nav_center .brand1 #q7 .first a{ display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .brand1 #q7 li a:hover{color: red;margin: 0;}  
#nav li.nav_center .brand1 #q7 li.first a:hover{color:#2a2a2a;}
#nav li.nav_center .brand1 #q9{padding: 8px 0 13px; display: block;float: left; width: 102px;}
#nav li.nav_center .brand1 #q9 li a{font-size:12px;color: #333;background: none;float: none;padding: 0;color: #555;
    display: inline-block;height:24px;border:0;line-height: 24px;vertical-align: bottom; white-space: nowrap;}
#nav li.nav_center .brand1 #q9 .first a{ display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .brand1 #q9 li a:hover{color: red;margin: 0;}  
#nav li.nav_center .brand1 #q9 li.first a:hover{color:#2a2a2a;}
#nav li.nav_center .brand1 #q10{padding: 8px 0 13px; display: block;float: right;margin-top: -148px; padding-left:22px; width: 255px;}
#nav li.nav_center .brand1 #q10 h4{display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .brand1 #q8{ display: block; padding-left: 22px;width: 162px;float: left;margin-top: -32px;}
#nav li.nav_center .brand1 #q8 li a{font-size:12px;color: #333;background: none;float: none;padding: 0;color: #555;
    display: inline-block;height:24px;border:0;line-height: 24px;vertical-align: bottom; white-space: nowrap;}
#nav li.nav_center .brand1 #q8 .first a{ display: block;height: 24px;line-height: 24px;
    margin: 0;padding-bottom: 7px;font-size: 18px;color: #2a2a2a;font-weight: bold;}
#nav li.nav_center .brand1 #q8 li a:hover{color: red;margin: 0;}  
#nav li.nav_center .brand1 #q8 li.first a:hover{color:#2a2a2a;}    
#nav li.nav_center a:hover, #nav li.nav_center a.on{background: #444;border-left: 1px solid #a21f25;color: #fff;
    margin-left: -1px;margin-right: -2px;padding-right: 30px;position: relative;}
#nav li.nav_right{float:right;height:34px;width: 264px;position: relative;margin-right: -60px;}
#nav li.nav_right a{border-right: 1px solid #d18f92;color: #f6e9ea;float: left;font-size: 12px;height: 14px;
    line-height: 14px;margin-top: 11px;padding: 0 10px;}
#nav li.nav_right .spot{border: 0 none;display: block;margin: 0;padding: 0;position: absolute;top: -20px;left: -38px;
} 
#nav li.nav_right a.last{color: #fc0;}
#nav li.nav_right a:hover{color: #fc0;text-decoration: underline;}
/*-------------------------nan------------------------------------*/
#nan #wrap{position: relative;}
#nan #wrap #n1{z-index:20;background-color: #1e1908;left: -30px;position: absolute;top: -5px;width: 190px;height: 385px;display: none;}
#nan #wrap #n1 li {height: 43px;line-height: 43px;position: relative;text-indent: 42px;}
#nan #wrap #n1 li b{margin-top:-43px;height: 43px;width:33px;display:block;z-index:10;line-height: 43px;position: relative;background: url(../img/navcats_icon.png) no-repeat left top; background-position:10px -48px;}
#nan #wrap #n1 li a{color: #fff;font-size: 12px;}
#nan #wrap #n1 li a:hover{text-decoration: underline;}
#nan #wrap #n1 li i{border-color: #fff transparent;border-style: solid;border-width: 4px 4px 0; display: none;font-size: 0;height: 0;
    line-height: 0;position: absolute;right: 10px;top: 20px;}
#nan #wrap #n1 li:hover i{transform: rotateZ(-90deg);display: block;}  
#nan #wrap .shoes{width: 280px;padding: 0 20px;height:385px;position: absolute;left:160px;top:-5px;background: #fbfbfb;z-index: 20;box-shadow: 1px 0 2px #978d8d inset; opacity: 0.95;
    overflow: hidden;display: none;}
#nan #wrap .shoes .runShoes{border-bottom: 1px solid #000;height: 30px;margin: 15px auto 0;position: relative;width: auto;}
#nan #wrap .shoes .runShoes a{bottom: 0;color: #000;display: block;font-weight: 700;height: 20px;
    left: 0;line-height: 20px;font-size:14px;padding-left: 45px;padding-top: 17px;position: absolute;text-align: left;width: 90px;font-size: }
#nan #wrap .shoes .runShoes  .more{background:none repeat;color: #666; font-size: 12px; left: auto; padding: 0;position: absolute;
    right: 0;top: 10px;width: 30px;}
#nan #wrap .shoes p{ margin: 10px 0 0 -1px; overflow: hidden; width: auto;}
#nan #wrap .shoes p a{font-size:12px;color: #888;display: inline-block; float: left; margin-top: 5px; padding: 0 8px; white-space: nowrap;}
#nan #wrap .shoes p a:hover{color:#d01f47;text-decoration: underline;}
#nan #wrap .shoes p a.on{color:#d01f47;}
#nan #wrap .shoes .boyShoes{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -33px;}
#nan #wrap .shoes .girlShoes{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -78px;}
#nan #wrap .shoes .search a{padding: 0;}
#nan #wrap .shoes .hot a{padding: 0;}

#nan #wrap .wear{width: 280px;padding: 0 20px;height:385px;position: absolute;left:160px;top:-5px;background: #fbfbfb;z-index: 20;box-shadow: 1px 0 2px #978d8d inset; opacity: 0.95;
    overflow: hidden;display: none;}
#nan #wrap .wear .runWear{border-bottom: 1px solid #000;height: 30px;margin: 15px auto 0;position: relative;width: auto;}
#nan #wrap .wear .runWear a{bottom: 0;color: #000;display: block;font-weight: 700;height: 20px;
    left: 0;line-height: 20px;font-size:14px;padding-left: 45px;padding-top: 17px;position: absolute;text-align: left;width: 90px;font-size: }
#nan #wrap .wear .runWear  .more{background:none repeat;color: #666; font-size: 12px; left: auto; padding: 0;position: absolute;
    right: 0;top: 10px;width: 30px;}
#nan #wrap .wear p{ margin: 10px 0 0 -1px; overflow: hidden; width: auto;}
#nan #wrap .wear p a{font-size:12px;color: #888;display: inline-block; float: left; margin-top: 5px; padding: 0 8px; white-space: nowrap;}
#nan #wrap .wear p a:hover{color:#1291cf;text-decoration: underline;}
#nan #wrap .wear p a.on{color:#1291cf;}
#nan #wrap .wear .boyWear{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -125px;}
#nan #wrap .wear .girlWear{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -172px;}
#nan #wrap .wear .search a{padding: 0;}

#nan #wrap .run{width: 280px;padding: 0 20px;height:385px;position: absolute;left:160px;top:-5px;background: #fbfbfb;z-index: 20;box-shadow: 1px 0 2px #978d8d inset; opacity: 0.95;
    overflow: hidden;display: none;}
#nan #wrap .run .runrun{border-bottom: 1px solid #000;height: 30px;margin: 15px auto 0;position: relative;width: auto;}
#nan #wrap .run .runrun a{bottom: 0;color: #000;display: block;font-weight: 700;height: 20px;
    left: 0;line-height: 20px;font-size:14px;padding-left: 45px;padding-top: 17px;position: absolute;text-align: left;width: 90px;font-size: }
#nan #wrap .run .runrun  .more{background:none repeat;color: #666; font-size: 12px; left: auto; padding: 0;position: absolute;
    right: 0;top: 10px;width: 30px;}
#nan #wrap .run p{ margin: 10px 0 0 -1px; overflow: hidden; width: auto;}
#nan #wrap .run p a{font-size:12px;color: #888;display: inline-block; float: left; margin-top: 5px; padding: 0 8px; white-space: nowrap;}
#nan #wrap .run p a:hover{color:#8b478b;text-decoration: underline;}
#nan #wrap .run p a.on{color:#8b478b;}
#nan #wrap .run .boyRun{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -221px;}
#nan #wrap .run .girlRun{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -267px;}
#nan #wrap .run .search a{padding: 0;}
#nan #wrap .run .hot a{padding: 0;}

#nan #wrap .basketball{width: 280px;padding: 0 20px;height:385px;position: absolute;left:160px;top:-5px;background: #fbfbfb;z-index: 20;box-shadow: 1px 0 2px #978d8d inset; opacity: 0.95;
    overflow: hidden;display: none;}
#nan #wrap .basketball .basket{border-bottom: 1px solid #000;height: 30px;margin: 15px auto 0;position: relative;width: auto;}
#nan #wrap .basketball .basket a{bottom: 0;color: #000;display: block;font-weight: 700;height: 20px;
    left: 0;line-height: 20px;font-size:14px;padding-left: 45px;padding-top: 17px;position: absolute;text-align: left;width: 90px;font-size: }
#nan #wrap .basketball .basket .more{background:none repeat;color: #666; font-size: 12px; left: auto; padding: 0;position: absolute;
    right: 0;top: 10px;width: 30px;}
#nan #wrap .basketball p{ margin: 10px 0 0 -1px; overflow: hidden; width: auto;}
#nan #wrap .basketball p a{font-size:12px;color: #888;display: inline-block; float: left; margin-top: 5px; padding: 0 8px; white-space: nowrap;}
#nan #wrap .basketball p a:hover{color:#d8468d;text-decoration: underline;}
#nan #wrap .basketball p a.on{color:#d8468d;}
#nan #wrap .basketball .boyBasket{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -316px;}
#nan #wrap .basketball .search a{padding: 0;}
#nan #wrap .basketball .star a{padding: 0;}

#nan #wrap .football{width: 280px;padding: 0 20px;height:385px;position: absolute;left:160px;top:-5px;background: #fbfbfb;z-index: 20;box-shadow: 1px 0 2px #978d8d inset; opacity: 0.95;
    overflow: hidden;display: none;}
#nan #wrap .football .foot{border-bottom: 1px solid #000;height: 30px;margin: 15px auto 0;position: relative;width: auto;}
#nan #wrap .football .foot a{bottom: 0;color: #000;display: block;font-weight: 700;height: 20px;
    left: 0;line-height: 20px;font-size:14px;padding-left: 45px;padding-top: 17px;position: absolute;text-align: left;width: 90px;font-size: }
#nan #wrap .football .foot .more{background:none repeat;color: #666; font-size: 12px; left: auto; padding: 0;position: absolute;
    right: 0;top: 10px;width: 30px;}
#nan #wrap .football p{ margin: 10px 0 0 -1px; overflow: hidden; width: auto;}
#nan #wrap .football p a{font-size:12px;color: #888;display: inline-block; float: left; margin-top: 5px; padding: 0 8px; white-space: nowrap;}
#nan #wrap .football p a:hover{color:#2062d3;text-decoration: underline;}
#nan #wrap .football p a.on{color:#2062d3;}
#nan #wrap .football .boyFoot{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -363px;}
#nan #wrap .football .star a{padding: 0;}
#nan #wrap .football .studs a{padding: 0;}
#nan #wrap .football .search a{padding: 0;}

#nan #wrap .bag{width: 280px;padding: 0 20px;height:385px;position: absolute;left:160px;top:-5px;background: #fbfbfb;z-index: 20;box-shadow: 1px 0 2px #978d8d inset; opacity: 0.95;
    overflow: hidden;display: none;}
#nan #wrap .bag .bagbag{border-bottom: 1px solid #000;height: 30px;margin: 15px auto 0;position: relative;width: auto;}
#nan #wrap .bag .bagbag a{bottom: 0;color: #000;display: block;font-weight: 700;height: 20px;
    left: 0;line-height: 20px;font-size:14px;padding-left: 45px;padding-top: 17px;position: absolute;text-align: left;width: 90px;font-size: }
#nan #wrap .bag .bagbag .more{background:none repeat;color: #666; font-size: 12px; left: auto; padding: 0;position: absolute;
    right: 0;top: 10px;width: 30px;}
#nan #wrap .bag p{ margin: 10px 0 0 -1px; overflow: hidden; width: auto;}
#nan #wrap .bag p a{font-size:12px;color: #888;display: inline-block; float: left; margin-top: 5px; padding: 0 8px; white-space: nowrap;}
#nan #wrap .bag p a:hover{color:#df3f4e;text-decoration: underline;}
#nan #wrap .bag p a.on{color:#df3f4e;}
#nan #wrap .bag .bagB{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -411px;}
#nan #wrap .bag .parts a{padding: 0;}
#nan #wrap .bag .search a{padding: 0;}
#nan #wrap .bag .studs a{padding: 0;}

#nan #wrap .outdoor{width: 280px;padding: 0 20px;height:385px;position: absolute;left:160px;top:-5px;background: #fbfbfb;z-index: 20;box-shadow: 1px 0 2px #978d8d inset; opacity: 0.95;
    overflow: hidden;display: none;}
#nan #wrap .outdoor .out{border-bottom: 1px solid #000;height: 30px;margin: 15px auto 0;position: relative;width: auto;}
#nan #wrap .outdoor .out a{bottom: 0;color: #000;display: block;font-weight: 700;height: 20px;
    left: 0;line-height: 20px;font-size:14px;padding-left: 45px;padding-top: 17px;position: absolute;text-align: left;width: 90px;font-size: }
#nan #wrap .outdoor .out .more{background:none repeat;color: #666; font-size: 12px; left: auto; padding: 0;position: absolute;
    right: 0;top: 10px;width: 30px;}
#nan #wrap .outdoor p{ margin: 10px 0 0 -1px; overflow: hidden; width: auto;}
#nan #wrap .outdoor p a{font-size:12px;color: #888;display: inline-block; float: left; margin-top: 5px; padding: 0 8px; white-space: nowrap;}
#nan #wrap .outdoor p a:hover{color:#f56a00;text-decoration: underline;}
#nan #wrap .outdoor p a.on{color:#f56a00;}
#nan #wrap .outdoor .outShoes{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -463px;}
#nan #wrap .outdoor .outWear{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -502px;}
#nan #wrap .outdoor .outstuds{background:url("http://images.s.cn/images/css/lf_pop_icon.png") no-repeat left;background-position: -26px -644px;}
#nan #wrap .outdoor .search a{padding: 0;}
/*----------------------------Navigation------------------------*/
#wrap .Navigation {color: #999;font-family: "宋体";padding: 10px 0;font-size: 12px;}
.Navigation span {margin: 0 5px 0 0;}
.Navigation a { color: #999; text-decoration: none;font-size: 12px;}
.n_bar {background: #f1f1f1 ;border: 1px solid #e5e5e5;font-size: 14px;font-weight: 700;height: 30px;line-height: 30px;padding-left: 1em;}
.n_bar p { background:url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll right 0;display: inline-block;float: left;height: 30px;margin: 0;padding: 0 30px 0 0;}
.n_bar span { color: #999; font-size: 12px; font-weight: normal;}
.n_bar i {color: #c00;font-style: normal;padding: 0 3px;}
.n_filterbox {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: #fafafa none repeat scroll 0 0;border-color: -moz-use-text-color #e5e5e5 #e5e5e5;border-image: none;order-style: none solid solid;border-width: 0 1px 1px;height: 100%;
    margin-bottom: 0;font-size: 12px;}
.select{border-bottom: 1px solid #e5e5e5;}  
.n_chose {color: #666;padding: 15px;border-bottom: 0 none;margin-bottom: 0;} 
.n_chose a {border: 1px solid #c00; border-radius: 2px; color: #c00; display: inline-block;height: 15px; margin-right: 5px; overflow: hidden; padding: 2px 19px 2px 4px; position: relative;vertical-align: middle;} 
.n_chose a:hover{border-color: #ccc;color: #555}
.n_chose a:hover i{background-color: #666;transform: rotate(90deg);transition: -moz-transform 0.2s ease-in-out 0.1s;}
.n_chose a h5 { color: #808080; display: inline; font-size: 12px;font-weight: normal;}
.n_chose a i {background: #c00 url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll 0 -43px;display: block;height: 13px;overflow: hidden;position: absolute;right: 2px; top: 3px;
    width: 13px;}

.n_chose a.rechose {background: url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll 0 -137px;border: 0 none;color: #808080;margin-left: 7px;padding: 0 0 0 15px;}
.n_chose a.rechose:hover{background: url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll 0 -66px;color: #555;}
.n_chose a {border: 1px solid #c00;border-radius: 2px;color: #c00;display: inline-block;height: 15px;margin-right: 5px;overflow: hidden;padding: 2px 19px 2px 4px;position: relative;vertical-align: middle;}
.n_select dl { border-bottom: 1px dotted #ccc;display: block;padding: 12px 110px 4px 70px;position: relative;white-space: nowrap;background: #fafafa;}
#brand_dl{height: 85px;}
#season_dl{height: 23px;}
#price_id_dl{height: 23px;}
#season_dl a{color: #333;}
.n_select dl .more_open {
    background: #eee url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll 5px -364px;border: 1px solid #ddd;color: #666;cursor: pointer;line-height: 16px;padding: 0 5px 0 20px;position: absolute;right: 58px;top: 11px;}
.n_select dl .close{display: none;}
.n_select dl .open, .n_select dl .close {
    background:url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll 100% -338px;border-radius: 2px;color: #666;cursor: pointer;font-family: "宋体";height: 16px;line-height: 16px;
    padding: 0 15px 0 3px;position: absolute;right: 10px;top: 12px;} 
.n_select dl .open:hover, .n_select dl .close:hover ,.n_select dl.opcur{ background:url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll 100% -295px;color: #c00;} 
.n_select dl dt {color: #888;display: block;left: 0;position: absolute;text-align: right;top: 12px;width: 65px;}
.n_select dl#brand_dl dd {
    background: url("http://images.s.cn/images/scn2012/skin/skin_201201.png") no-repeat scroll -284px -119px;
    height: 42px;margin: 0 25px 0 0;overflow: hidden;width: 85px;}
.n_select dl dd {float: left;white-space: nowrap;}
.n_select dl dd a i { color: #999; display: inline; font-style: normal;}
.n_select dl#brand_dl a {
    background: url("http://images2.s.cn/images/scn2012/skin/skin_201201.png") no-repeat;float: left;height: 32px;line-height: 8;margin: 0;overflow: hidden;width: 57px;}
 .n_select dl#brand_dl a:hover{border-color:#eee #bbb #bbb #eee;border-style: solid;border-width: 1px;height: 30px;width: 55px; }  
.n_select dl#brand_dl .hidden{display: none;}
.n_select dl#price_id_dl .hidden{display: none;}
.n_select dl#brand_dl a.nike {background-position: -5px -422px;}
.n_select dl#brand_dl a.adidas { background-position: -67px -422px;}
.n_select dl#brand_dl a.newbalance {background-position: -5px -498px;}
.n_select dl#brand_dl a.anta {background-position: -5px -460px;}
.n_select dl#brand_dl a.lining {background-position: -130px -422px;}
.n_select dl#brand_dl a.puma {background-position: -67px -498px;}
.n_select dl#brand_dl a.neo {background-position: -373px -500px; }
.n_select dl#brand_dl a.originals {background-position: -373px -536px;}
.n_select dl#brand_dl a.reebok { background-position: -130px -536px;}
.n_select dl#brand_dl a.skechers {  background-position: -192px -460px;}
.n_select dl#brand_dl a.yaseshi { background-position: -56px -714px;}
.n_select dl#brand_dl a.kappa { background-position: -130px -460px;}
.n_select dl#brand_dl a.disney { background-position: -80px -32px; }
.n_select dl#brand_dl a.dc{background-position: -364px -32px;}
.n_select dl#brand_dl a.nba {background-position: 1px -62px;}
.n_select dl#brand_dl a.vans {background-position: -254px -422px;}
.n_select dl#brand_dl a.discovery {  background-position: 1px -31px;}
.n_select dl#brand_dl a.columbia {background-position: -297px -31px;}
.n_select dl#price_id_dl dd{width: 110px;height: 23px;}
.n_select dl#price_id_dl dd a{color: #333;}
#n_select_open, #n_select_close {color: #999;display: block;height: 34px;line-height: 28px;margin: -1px auto 0;padding-right: 10px;position: relative;text-align: center;text-decoration: none;width: 98px;background-position: -121px 0;}
#n_select_open, #n_select_close, #n_select_open i, #n_select_close i {background:url("http://images.s.cn/images/css/c_o_icon.png") no-repeat ;}
#n_select_open i {background-position: -110px -8px;display: block; height: 5px;overflow: hidden;position: absolute;right: 24px;top: 12px;width: 9px;}
.n_desc_page {margin-top:5px;-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: #f7f7f7; border-color: #dbdbdb;border-image: none;
    border-style: solid;border-width: 4px 1px 1px;color: #666;height: 36px;line-height: 36px;padding: 0 5px 0 10px;}
.n_desc_page .desc {float: left;}  
.n_desc_page .page { float: right;}
.n_desc_page .desc i {float: left;}  
.n_desc_page .page i { color: #f60; padding: 0 3px;}
.n_desc_page .page .select_info {float: left;padding-right: 8px;}
.n_desc_page .desc a {
    background: #ccc url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll 40px -159px;border-radius: 2px;color: #666;display: block;float: left;font-family: "宋体";height: 20px;
    line-height: 20px;margin: 8px 6px 0 3px;overflow: hidden;padding: 0 16px 0 7px;text-decoration: none;}
.n_desc_page .desc a:hover{border-color: #666;background-position: 34px -181px;color: #fff; }
.product_fz_new{height:auto;}
.product_fz_new dl {font-size:12px;border: 1px solid #eee;height: 292px;margin: 20px 11px 10px; width: 220px; float: left;}
.product_fz_new dt {height: 214px; padding: 3px 0; position: relative; text-align: center;
    overflow: hidden;}
.product_fz_new dt a {color: #333;text-decoration: none;font-size: 12px;float: left;}
.product_fz_new dt img { height: 216px;width: 214px; border:3px solid #fff;margin-top: -3px;}
.product_fz_new dd {border-top: 1px solid #f3f3f3;height: 55px;margin: 0 1px 1px;position: relative;
    z-index: 2;}
.product_fz_new dd ul {height: 60px;padding: 5px 5px 5px 10px;width: 203px;}
.product_list dd ul {left: 0;position: absolute;top: 0;background:#fff;}
.product_list dd li {display: block;height: 20px; line-height: 20px; overflow: hidden;}
.product_list dd li.r3 {color: #999;}
.product_list dd li.r3 i {color: #f60;font-weight: 700;padding: 0 3px;}
.product_list dd li.r4 {color: #555;display: none; height: auto; padding: 5px 0;}
.product_list dd li.r1 .price {color: #555;font: 14px verdana;padding-right: 0.8em;}
.product_list dd li.r1 .del_price {color: #888;font-family: verdana;text-decoration: line-through;}
.clearfix{ border-top: 1px dotted #ccc;margin-top: 10px;padding-top: 10px;}
.fr { float: right;}
.pagernum{font-family: "宋体";vertical-align: top;float: left;}
.pagernum .first{ background: #666666 none repeat scroll 0 0;border-color: #666666;color: #ffffff;}
.pagernum a{border: 1px solid #bbb;border-radius: 2px; color: #888;display: inline-block;
 font-size: 14px; height: 24px; line-height: 24px;margin-left: 2px; overflow: hidden; padding: 0 10px;}
.pagernum .next{
    background: #fff url("http://images.s.cn/themes/scn2012/images/skin/list_icon.png") no-repeat scroll 50px -246px;margin-left: 7px;padding: 0 18px 0 8px;border: 1px solid #bbb;border-radius: 2px;
    color: #555;height: 24px;line-height: 24px;margin: 0 5px;overflow: hidden;text-decoration: none;}
.pagernum a:hover{background-color: #fffae7;border-color: #f60;color: #333;}
.footbrand {background: #fff ;height: 142px;padding-top: 40px;overflow: hidden;padding-bottom: 1px;width: 990px;}
.footbrand a {
    background: url("http://images.s.cn/images/css/default_brandwall_bg11.png") no-repeat ;
    border: 1px solid #dfdfdf;display: block;float: left;height: 70px;margin: 0 -1px -1px 0;overflow: hidden;position: relative;text-indent: -999px;width: 98px;}   
.footbrand a.nike { background-position: 21px -176px;}
.footbrand a.adidas {background-position: -106px -176px;}
.footbrand a.syc {background-position: -715px -333px;}
.footbrand a.neo {background-position: -838px -333px;}
.footbrand a.nb { background-position: -590px -176px;}
.footbrand a.converse { background-position: -596px -10px;}
.footbrand a.skq {background-position: -591px -258px;}
.footbrand a.puma {background-position: -835px -176px;}
.footbrand a.reebok {background-position: -719px -10px;}
.footbrand a.asics {background-position: -467px -331px;}
.footbrand a.last {width: 97px;}
.footbrand a.kappa {background-position: -715px -176px;}
.footbrand a.anta {background-position: -347px -176px;}
.footbrand a.lining { background-position: -230px -176px;}
.footbrand a.vans {background-position: -105px -256px;}
.footbrand a.troead {background-position: -593px -332px;}
.footbrand a.lantivy {background-position: -346px -100px;}
.footbrand a.dc {background-position: -595px -491px;}
.footbrand a.nike_tx{ background-position: -229px -491px;}
.footbrand a.adsics_tx { background-position: -350px -491px;}
.footbrand a.disney {background-position: -104px -490px;}
.footbrand a span {cursor: pointer;display: block;height: 100%;left: 0;position: absolute;top: 0;transition: background-color 0.3s ease 0s;visibility: hidden; width: 100%;}
.footbrand a:hover span{background:#000;opacity: 0.1;visibility:visible; }
.btmfenlei_hd {border-bottom: 1px solid #ccc;clear: both;height: 36px; margin: 0 auto 28px; position: relative;}
.btmfenlei_hd h3 { background: #fff none repeat scroll 0 0; font-family: microsoft yahei; font-size: 18px; font-weight: 100;left: 50%;margin: 12px 0 0 -60px;padding: 10px 20px;position: absolute;}
.btmfenlei_body1 dl {float: left;padding-right: 2px; width: 245px;}
.btmfenlei_body1 dt {text-align: center;}
.btmfenlei_body1 dt a { color: #222;}
.btmfenlei_body1 dt s {display: block; font-size: 14px; font-style: normal; font-weight: 700; text-align:center;text-decoration: none;}
.btmfenlei_body1 dd {border-right: 1px dotted #ccc;height: 85px;overflow: hidden;padding: 0 10px 0 15px;}
.btmfenlei_body1 dd a {color: #555;display: block;float: left;font-size: 12px;margin-bottom: 10px;text-decoration: none;white-space: nowrap;width: 54px;}
.btmfenlei_body1 a:hover{color: #c00;text-decoration: underline;}
#foow #wrap{margin: 0 auto; width: 990px;}
/*-------------------------footC------------------------------------*/
#footC{ background: #f5f5f5 ;border-bottom: 1px solid #e8e8e8;padding: 15px;border-top: 2px solid #ce3c3b;height: 195px;margin-top: -3px;}
#footC #wrap{ margin: 0 auto;width: 990px;}
#footC #wrap .ewm{margin-left: 15px;width: 220px; border-right: 1px solid #dedede; float: left;}
#footC #wrap .ftli{padding-left: 40px;float: left;height: 195px;line-height: 1.6em;}
#footC #wrap .ftli li{ width:186px;display: block;float: left;}
#footC #wrap .ftli li h6{display: block;height: 36px; margin: 5px 0 25px;}
#footC #wrap .ftli li.last{width: 156px;}
#footC #wrap .ftli li h5{color: #666; display: block;font-family: "宋体";font-size: 14px;margin: 0 0 6px;}
#footC #wrap .ftli .c999 a{color: #999;font-size:12px;line-height: 18px;height:18px;display: block;}
#footC #wrap .ftli li span{width:48px;display: block;}
#footC #wrap .ftli li span a:hover{color: red;text-decoration: underline;} 
/*-------------------------footD------------------------------------*/
#footD{background-color: #f8f8f8;font-size: 12px; color: #777;}
#footD #wrap {padding: 20px 0; text-align: center;height: 40px;}
#footD #wrap a{color: #777;font-size: 12px;}
#footD #wrap1 span{color: #ccc;font-family: "宋体";height: 13px;display: block;width: 1110px;margin:0 auto;}
#footD #wrap span a{widows: 60px;height: 13px;}
#footD #wrap s{color: #c00;font-size: 20px;font-weight: 700;}
#footD #wrap a:hover{color: red;text-decoration: underline;}
/*-------------------------footE------------------------------------*/
#footE #wrap .row3{ width: 640px; height: 50px;margin: 0 auto 30px;}
#footE #wrap .row3 a{float: left; height: 47px;margin-right: 10px;width: 112px;border: 0;}
#footE #wrap .row3 a.lat{width: 127px;}
#footE #wrap .row3 a:hover{border: 1px solid #d5d5d5;height: 45px;width: 110px;overflow: hidden;}

/*-----------------------------------s-rbar-outer-------------------------------*/
.outer {background: #000;height: 100%;overflow: visible;position: fixed;right: 0;top: 0;width: 37px;z-index: 999999;}
.tabs-mask {background-color: #000;height: 100%;left: 0;position: absolute;top: 0;width: 37px;}
.tabs{-moz-user-select: none;right: 0;position: absolute;top: 0;width: 37px;z-index: 999999;}
.tabs-mask .on {background-color: #bd0000;}
.tabs-top-wide {border-bottom-left-radius: 2px;cursor: pointer;height: 157px;left: -4px;position: relative;top: 0;
    width: 41px;}
.tab-logo { background: url("http://images.s.cn/images/css/rbar_icon.png") no-repeat;height: 35px;left: 0;position: absolute;
    top: 0;width: 37px;}   
.tabs-top-wide .tab-logo {background-position: 7px 14px;} 
.tabs-top-wide .tab-txt {display: block;font-size: 18px;left: 6px;line-height: 22px;top: 48px;width: 20px;}
.tab-txt {color: #fff;padding: 0 3px;position: absolute;text-align: center;}
.tab-brand {height: 122px;margin-top: 23px;}
.tab {background-color: #000;cursor: pointer; left: 0; position: relative; width: 37px; z-index: 9;}
.tab-logo-brand { background-position: 6px -29px;}
.tab-brand .tab-txt { display: block; left: 8px; line-height: 16px; overflow: hidden; padding: 0; top: 40px; width: 20px;}
.tab-txt {color: #fff; font-size: 12px; position: absolute;text-align: center;}
#CartList{margin: 8px 0;}
#Member_info_list{margin: 8px 0;}
.tab-order, .tab-cart, .tab-kefu {height: 35px;}
.tab-logo-cart {background-position: 6px -77px;}
.tab-cart-border {border-top: 1px solid #676767;height: 33px;left: 5px;position: absolute;top: -5px;width: 25px;}
.tab-logo-order { background-position: 10px -119px;}
.tab-logo-kefu {background-position: 6px -164px;}
.tab-tip {background-color: #494949;border-radius: 2px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);color: #fff;display: none;font-size: 12px;
height: 35px;line-height: 35px;position: absolute;right: 47px;text-align: center;top: 0;width: 90px; }
.tab-logo-share {background-position: 8px -273px;}
.tab-logo-favor {background-position: 7px -218px;margin-top:20px;}
.tab-share {margin-top: 60px; cursor: pointer;position: absolute;z-index: 1;} 
.tab-tip1 {background-color: #494949;border-radius: 2px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);color: #fff;display: none;font-size: 12px;
height: 35px;line-height: 35px;position: absolute;right: 47px;text-align: center;top: 0;width: 90px; margin-top: 20px;}
.tab:hover{background-color: #c40000;}
.plugins {background-color: #666;height: 100%;left: 37px;position: absolute;top: 0; width: 230px;}
.arr{ color: #494949; font-family: "宋体"; font-size: 16px; height: 16px; line-height: 16px; position: absolute; right: -8px;text-align: center;top: 10px;
    width: 16px;}
.mcListInner {position: absolute;top: 0;width: 100%;height: 100%;}
.mcList{background-color: #e6e6e6;margin-top: 28px;padding: 0;position: relative;width: 100%;}
.mcTop{background-color: #e6e6e6;cursor: default;height: 28px;left: 0;line-height: 28px;margin-top: -28px;padding-left: 8px;
    position: absolute;top: 0;width: 222px;z-index: 1;}
.mcTop a.mcCartBtn {color: gray;font-size: 12px;height: 16px;line-height: 1.4;margin: 8px 20px 0 0;padding: 0;text-decoration: none;text-indent: 0;
    width: 52px;float: right;overflow: hidden;text-align: right;}
.mcBundle {background-color: #fff;cursor: default;margin-top: 16px;overflow: hidden;height:862px;}
/*---------------------------------------------------带图片购物车的样式--------------------------------*/
.mcMainList {left: 0;position: absolute;top: 0;float: left;}
.mcOrderSelected {background: #fff none repeat scroll 0 0;margin-left: 0;padding-left: 0;height: 97px;}
.mcItem { padding: 10px 5px 10px 10px;width: 73px; float: left; overflow: hidden; white-space: nowrap;}
.mcItem a img{width: 83px;height: 75px;display: block; vertical-align: top;}
.mcOrder .mcPic {border: 1px solid #fafafa;display: block;overflow: hidden; position: relative;}
.mcRt {  float: left; font-size: 12px; width: 125px;color: #999;}
.mcSku {padding: 10px 2px 0 0; color: #999;text-align: left; height: 32px;line-height: 16px; overflow: hidden; width: 100%;}
.mcSku  p a{color: #999}
.mcPrice { color: #666; display: block; font-weight: 400; height: 18px; line-height: 18px; padding-top: 5px;}
.mcMinus, .mcPlus {background: #f3f3f3; border: 1px solid #bfbfbf; border-radius: 14px; cursor: pointer; position: relative; width: 14px;float: left;
 display: inline-block;height: 14px;line-height: 14px;margin-top: 5px;vertical-align: middle;}
.mcAmount s {height: 2px; left: 3px; top: 6px; width: 8px; background: #bfbfbf none repeat scroll 0 0;overflow: hidden;position: absolute;}
.mcAmount b{ height: 8px;left: 6px;top: 3px;width: 2px;background: #bfbfbf none repeat scroll 0 0;overflow: hidden;position: absolute;}
.mcQuantity {float: left;color: #999;padding: 0 4px;display: inline-block; height: 14px; line-height: 14px; margin-top: 5px; vertical-align: middle}
.mcDel {float: left;background: #b7b7b7 ;border-radius: 2px;color: #fff;cursor: pointer;display: block;height: 17px;line-height: 17px;position: absolute;right: 5px;text-align: center;text-decoration: none;width: 34px;}
/*------------------------------------------结束--------------------------------*/
.s-mcOrder { border-bottom: 1px solid #e6e6e6;overflow: hidden;position: relative;width: 100%;}
.mcHandler { background-color: #e6e6e6; padding: 0 0 15px; width: 100%; height: 80px;}
.mcCashier-wrap {background-color: #e6e6e6;color: #333;padding: 0 10px;position: relative;z-index: 3;}
.mcTotal {background-color: #e6e6e6;color: #333;height: 30px;line-height: 30px;overflow: hidden;padding: 0;width: 210px;}

.mcHandler h3 {color: #000;float: left;font-size: 12px;font-weight: 400;height: 30px;width: 100px;}
.mcTotal strong.mcCheckedNum {font-weight: 400;margin-left: 4px;margin-right: 4px;}
.mcTotal .mcTotalFeeWrap {float: left; height: 30px; text-align: right; width: 110px;}
.mcTotal .mcTotalFee {color: #c40000;font-weight: 400; margin-left: 3px;}
.mcGo { width: 210px;}
.rbarp-favor-see-more {bottom: 10px;font-size: 12px;height: 40px;line-height: 40px;margin-top: 10px;text-align: center;width: 215px;}
.mcGo a {background-position-x: 113px;}
.rbarp-favor-see-more a {background: #c40000 url("http://images.s.cn/images/css/rbar_icon.png") no-repeat scroll 134px -376px;
    color: #fff;display: block; padding-right: 25px; text-decoration: none; transition: all 0.3s ease 0s;}    
